/*.header {
    background: rgb(37, 53, 61);
    padding: 1.5rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
}

.logo img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
    display: block;
}

.search-form {
    width: 50rem;
    display: flex;
    align-items: center;
    position: relative;
}

.search-form input[type="search"] {
    width: 100%;
    padding: 0.8rem 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 1.6rem;
}

.search-form label {
    position: absolute;
    right: 1rem;
    font-size: 1.8rem;
    color: #333;
    cursor: pointer;
}

.search-form label:hover {
    color: rgb(11, 160, 230);
}

.icons {
    display: flex;
    gap: 2rem;
}

.icons a, .icons div {
    font-size: 2rem;
    color: rgb(11, 160, 230);
    text-decoration: none;
    cursor: pointer;
}

.icons a:hover, .icons div:hover {
    color: rgba(11, 161, 230, 0.151);
}
*/