.login-form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: -105%;
    z-index: 10000;
    overflow: auto;
    height: 100%;
    width: 100%;
}

.login-form-container.activate {
    right: 0;
}

.login-form-container form {
    position: relative;
    background: #fff;
    border: #040c36;
    width: 40rem;
    padding: 2rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    margin: 2rem;
}

.login-form-container form h3 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.login-form-container form span {
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.login-form-container form .box {
    margin: .7rem 0;
    font-size: 1.6rem;
    border: 1px solid #040c36;
    border-radius: 5rem;
    padding: 1rem 1.2rem;
    color: black;
}

.login-form-container form .checkbox {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 1rem 0;
}

.login-form-container form .checkbox label {
    font-size: 1.5rem;
    color: #000000;
    cursor: pointer;
}

.login-form-container form .btn {
    text-align: center;
    width: 100%;
    padding: 1.5rem 0;
}

.login-form-container form p {
    padding-top: .8rem;
    color: #000000;
    font-size: 1.5rem;
}

.login-form-container form p a {
    color: #28315f;
    text-decoration: underline;
}

.close-login-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 5rem;
    color: #000000;
    cursor: pointer;
    z-index: 10;
}
